@import "../variables", "../extensions";

.about {
  @extend %centered-row;
  align-items: stretch;

  &__title {
    margin-top: 0;
  }

  &__content {
    *:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: $tablet-size) {
    &__image {
      width: 50%;
    }

    &__content {
      padding: $padding-lg;
      background: $gray-lightest;
      color: $apsis-gray;
    }
  }

  // @media only screen and (max-width: $tablet-size) {
  //   flex-direction: column;
  //   &__content {
  //     padding: 2em;
  //   }
  //   &__text {
  //     width: 100%;
  //   }

  //   &__image {
  //     display: none;
  //   }
  // }
}
