@import '../__variables';

.wide {
  width: 190px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.01);
  padding: 7px 40px;
  margin: 0px 15px 0px 0px;
}

.short {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.01);
  padding: 7px 12px;
}

.blue {
  background-color: $apsis-blue;
  color: white !important;
}

.gray {
  background-color: $button-color;
  color: $apsis-dark;
}