@import "../variables";
@import "../mixins";

.button {
  display: inline-block;
  margin-bottom: 0;
  margin-right: $padding-xs;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  border-radius: $border-radius;
  padding: $padding-xs $padding-sm;
  box-shadow: $box_shadow;
  transition: background $transition_duration, box-shadow $transition_duration,
    color $transition_duration;
  user-select: none;

  &:hover {
    box-shadow: $box_shadow_hover;
  }

  &:last-child,
  &:last-of-type {
    margin-right: 0;
  }

  @include button-variant($button-color, $text-color);

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none;
    opacity: 0.65;
  }

  //== Icons

  > .fab,
  > .fa,
  > .fas {
    margin-right: $padding-xs;
  }

  //== Variants

  &--block {
    margin: 0;
    margin-bottom: $padding-sm;
    width: 100%;

    @media only screen and (min-width: $tablet-size) {
      width: auto;
      margin-right: $padding-xs;
      margin-bottom: 0;
    }
  }

  &--large {
    padding: $padding-sm $padding-base;
  }

  &--sm {
    padding: $padding-xs / 2 $padding-xs;
    font-size: $font-size-sm;
  }

  &--white {
    @include button-variant(white, white);
  }

  &--primary {
    @include button-variant($apsis-blue, white);
  }
}
