@import '../__variables';

.button {
  &__wide {
    border-radius: 4px;
    width: 190px;
    padding: 7px 40px;
    margin: 0px 15px 0px 0px;
    &:hover {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(15, 44, 64, 0.15);
    }
  }

  &__short {
    border-radius: 4px;
    padding: 7px 12px;

    &:hover {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(15, 44, 64, 0.15);
    }
  }

  &__blue {
    background-color: $apsis-blue;
    color: white !important;
  }

  &__gray {
    background-color: $button-color;
    color: $apsis-dark;
  }
}