@import "../variables";
@import "../mixins";

.clients {
  @include blockify($padding-base);
  text-align: center;

  &__logo {
    margin: $padding-sm $padding-base;
  }

  @media only screen and (min-width: $desktop-size) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__logo {
      margin: $padding-base;
    }
  }
}
