@import "../_variables";

.verticalContentBlock {
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  width: 700px;
  padding-top: 120px;

  h1, h2, h3 {
    text-align: center;
  }
}

.horizontalContentBlock {
  padding: 60px 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  color: $apsis-gray;
  width: 900px;

  &__title {
    padding: 0px 40px 0px 0px;
    width: 500px;
  }
}

.contentBlock {
  &__children {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 40px 0px;
  }
}