.content {
  padding: 120px 185px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentText {
  margin-bottom: 20px;
}

.contentTextContainer {
  flex-direction: column;
  padding-left: 80px;
}

.contentChildren {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 40px 0px;
}
