@import "~modularscale-sass/stylesheets/modularscale";
@import "../variables";
@import "../mixins";

.contentBlock {
  @include container;
  @include blockify($padding-base);

  &__title {
    font-family: $font-family-serif;
    font-size: ms(1);
  }

  @media only screen and (min-width: $desktop-size) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__header {
      margin-right: $padding-base;
    }

    &__title {
      margin: 0 0 0.25em;
      width: 200px;
    }

    &__content {
    }
  }
}
