@import "~modularscale-sass/stylesheets/modularscale";
@import "../variables";
@import "../mixins";

.contentBlock {
  @include blockify($padding-base);
  @include container;

  &__title {
    font-family: $font-family-serif;
    font-size: ms(1);
  }

  @media only screen and (min-width: $desktop-size) {
    display: flex;
    flex-direction: row;

    &__header {
      flex-grow: 1;
      margin-right: $padding-base;
    }

    &__title {
      width: 200px;
    }

    &__content {
      flex-grow: 0;
    }
  }
}
