@import "../variables", "../extensions";

.diagonal {
  filter: drop-shadow($simple_shadow);

  &__container {
    background-image: $diagonal_bg;
    padding: $large-diagonal-offset 0;
    margin: $padding-lg 0;

    // -webkit-clip-path: map-get($diagonal-clip-path, mobile);
    clip-path: map-get($diagonal-clip-path, mobile);

    @media only screen and (min-width: $tablet-size) {
      // -webkit-clip-path: map-get($diagonal-clip-path, tablet);
      clip-path: map-get($diagonal-clip-path, tablet);
    }

    @media only screen and (min-width: $desktop-size) {
      // -webkit-clip-path: map-get($diagonal-clip-path, desktop);
      clip-path: map-get($diagonal-clip-path, desktop);
    }

    @media only screen and (min-width: $largedesktop-size) {
      // -webkit-clip-path: map-get($diagonal-clip-path, largedesktop);
      clip-path: map-get($diagonal-clip-path, largedesktop);
    }
  }
}
