@import "../__variables";

.footer {
  text-decoration: none;
  text-align: center;
  position: relative;
  bottom: 0px;
  color: $apsis-gray;
  font-size: 1.125rem;

  &__map {
    height: 350px;
    @media only screen and (max-width: $mobile-size) {
      display: none;
    }
  }

  &__copyright {
    height: 120px;
    width: 100%;
    background-color: $apsis-gray;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 $app-padding;
    a {
      color: white;
      padding: 10px;
      font-size: 1.125rem;
      &:hover {
        color: $apsis-blue;
      }
    }

    @media only screen and (max-width: $tablet-size) {
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding: $small-padding 0;
    }
  }

  &__contactContainer {
    width: 395px;
    height: 250px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: $base-bg-color;
    border: solid 1px $button-color;
    margin: 0px 0px 0px 100px;
    padding: 50px;
    z-index: 4;
    position: absolute;
    top: 50px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 90%;

    h4 {
      margin-bottom: 10px;
    }

    @media only screen and (max-width: $tablet-size) {
      margin: 0px 0px 0px 5px;
      width: 97%;
    }
  }

  &__contactInfo {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 72px;
    font-size: 1.125rem;

    a {
      font-size: 1.125rem;
      &:hover {
        color: $apsis-blue;
      }
    }
  }
}
