@import '../__variables';

.footer {
  text-decoration: none;
  text-align: center;
  position: relative;
  bottom: 0px;
  color: $apsis-gray;

  &__map {
    height: 350px;
  }

  &__copyright {
    height: 120px;
    background-color: $apsis-gray;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &__contactContainer {
    width: 300px;
    height: 200px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: $base-bg-color;
    border: solid 1px $button-color;
    margin: 0px 0px 0px 100px;
    padding: 20px 0px 0px 30px;
    z-index: 4;
    position: absolute;
    top: 50px;
  }

  &__contactInfo {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 72px;
  }
}

.logoIconContainer {
  position: absolute;
  top: 50px;
  right: -50px;

  &__logoIcon {
    width: 100px;
    img {
      clip: rect(0px,51px,200px,0px);
    }
  }
}
