@import "~modularscale-sass/stylesheets/modularscale";
@import "../variables", "../extensions";

.hero {
  filter: drop-shadow($simple_shadow);
  height: 80vh;

  @media only screen and (min-width: $tablet-size) {
    margin: $padding-base $padding-base $padding-lg;
  }

  &__image {
    @extend %centered-row;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(89, 109, 121, 0.5);
      z-index: 0;
    }

    clip-path: map-get($hero-clip-path, mobile);

    @media only screen and (min-width: $tablet-size) {
      clip-path: map-get($hero-clip-path, tablet);
    }

    @media only screen and (min-width: $desktop-size) {
      clip-path: map-get($hero-clip-path, desktop);
    }

    @media only screen and (min-width: $largedesktop-size) {
      clip-path: map-get($hero-clip-path, largedesktop);
    }
  }

  &__container {
    color: $white;
    position: relative;
    z-index: 1;
    padding: $padding-sm;

    @media only screen and (min-width: $tablet-size) {
      padding: $padding-lg;
    }

    h1 {
      font-size: ms(3);
      margin-bottom: 0.125em;

      @media only screen and (max-width: $mobile-size) {
        font-size: ms(3, $mobile-modular-scale-base);
      }
    }

    h1,
    h2,
    h3,
    h4 {
      color: inherit;
    }
  }
}
