@import '../__variables';

.container {
  width: 100%;
  background: $apsis-blue;
  height: 170px;
  color: $base-bg-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    padding-left: 20px;
    margin-bottom: 1.45rem;
  }
}