@import '../__variables';

.container {
  width: 100%;
  background: $apsis-blue;
  height: 10.625rem;
  h3 {
    color: $base-bg-color;
    margin-bottom: 0px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    padding-left: 1.25rem;
  }
}