@import '../__variables';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  padding: 100px 130px 0px;
  line-height: 1.6125;

  @media only screen and (max-width: $mobile-size) {
    padding: 15px;
  }

  @media only screen and (min-width: $desktop-size) {
    max-width: 1140px;
  }

  &__title {
    justify-content: center;
    display: flex;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    i {
      padding-right: 10px;
      margin-block-end: 1.33em;
      color: #7994a6;
    }
  }

  &__content {
    flex-direction: column;
    align-items: center;
  }
}