@import "../variables";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  padding: 100px 130px 0px;
  line-height: 1.6125;

  @media only screen and (max-width: $tablet-size) {
    padding: 15px;
  }

  @media only screen and (min-width: $desktop-size) {
    max-width: 1140px;
  }

  &__title {
    justify-content: center;
    display: flex;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $padding-xs;
    h4 {
      margin-bottom: 0;
    }
    i {
      padding-right: 10px;
      color: #7994a6;
    }
  }

  &__paragraph {
    margin-bottom: $padding-base;
  }

  &__content {
    flex-direction: column;
    align-items: center;
  }
}
