@import '../__variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lora');

.container {
  display: flex;
  flex-direction: row;
  padding: 100px 300px;

  h4{
    height: 24px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
    padding: 0px;
  }

  .title {
    justify-content: center;
    display: flex;
  }
  h2 {
    width: 207px;
    height: 41px;
    font-family: Lora, serif;
    font-size: 32px;
    font-weight: bold;
    color: #4a5359;
    align-self: center;
  }
}

.contentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  i {
    padding-right: 10px;
  }
}

.content {
  flex-direction: column;
  align-items: center;
}

.contentParagraph {
  margin-bottom: 20px;
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  color: #4a4a4a;
}

.fillerImage {
  background: $gray;
  width: 400px;
  margin-left: 40px;
}