@import "../variables";

.mapBlock {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 80px;
  align-items: center;

  &__marker {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: $apsis-blue;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      margin: 8px 0 0 8px;
      background: $gray-lightest;
      position: absolute;
      border-radius: 50%;
    }
  }
  &__map {
    height: 527px;
    width: 100%;
    max-width: 1025px;
    border-radius: 4px;
    margin-bottom: 20px;

    border-radius: 5px;
    z-index: 0;
  }

  &__content {
    width: 100%;
    padding-top: 15px;
    padding-left: 115px;
  }

  &__locations {
    display: flex;
    flex-direction: row;
    padding: $small-padding 0px;
    width: 100%;
    max-width: 1025px;
    @media only screen and (max-width: $mobile-size) {
      padding: $small-padding 1em;
    }
  }

  .tabcontent {
    font-size: 1.125rem;
    max-width: 795px;
    &__active {
      display: block;
      color: $apsis-blue;
    }
  }
  .tabs {
    border-bottom: none;
    width: 20%;
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.125rem;

    &__tablinks {
      cursor: pointer;
      &.active {
        color: $apsis-blue;
        display: block;
      }
    }

    li {
      padding-bottom: 20px;
      list-style-type: none;
      > a {
        border: none;
        border-radius: 0;
        &:hover {
          color: $apsis-blue;
        }
      }
      &.active > a {
        color: $apsis-blue;
        &:hover,
        &:focus {
          color: $apsis-blue;
        }
      }
    }
  }
  @media (max-width: 750px) {
    &__map {
      width: 100%;
    }
    .tabs {
      width: 8em;
    }
    &__content {
      padding-left: 10px;
    }
    padding: 0px;
  }
}
