@import '../__variables';

.mapBlock {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 80px;
  align-items: center;

  &__map {
    height: 527px;
    width: 1025px;
    border: thin solid black;
    margin-bottom: 20px;
  }

  &__content {
    width: 100%;
    padding-top: 15px;
  }

  &__locations {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    width: 1025px;
  }

  .tabcontent{
    .active {
      color: $apsis-blue
    }
  }
  .tabs {
    border-bottom: none;
    width: 20%;
    padding-top: 20px;
    font-weight: bold;

    &__tablinks{
      .active {
        color: $apsis-blue
      }
    }

    li {
      padding-bottom: 20px;
      list-style-type: none;
      > a {
        border: none;
        border-radius: 0;
        &:hover {
          color: $apsis-blue;
        }
      }
      &.active > a {
        color: $apsis-blue;
        &:hover, &:focus {
          color: $apsis-blue;
        }
      }
    }
  }
}