@import '../__variables';

.navbar {
    width: 100%;
    // padding: 0px 40px 0px 40px;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
  
  &__blue {
    background: #fff;
    a {
      color: $apsis-blue;
    }
  }

  .active {
    text-decoration: underline;
  }

  &__white {
    background: transparent;
    a {
      color: $base-bg-color;
    }
  }

  &__listLink {
    display: inline-flex;
    margin-left: auto;
    list-style: none;
    margin-bottom: 0;

    .listLinkItem {
      margin: 1em;
      &:hover {
        transition: text-shadow ease-in-out 0.25s;
        text-shadow: 2px 2px rgba(15, 44, 64, 0.15);
      }
    }
  }

  &__icon {
    width: 140px;
    height: 100%;
    display: inline-flex;

    margin: 1em;
  }
}