@import '../__variables';

.navbar {
    background: transparent;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0px;
    z-index: 1;
    font-weight: bold;

  a {
    text-decoration: none;
    color: $apsis-blue;
    font-size: 18px;

    :active {
      font-weight: bolder;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    background-color: $apsis-blue;
    margin: 5px;

    border-radius: 50%;
    display: inline-block;
  }
}


a {
  text-decoration: none;
  color: $apsis-gray;
  font-size: 18px;
}
