@import '../__variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navbar {
    background: transparent;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
  
  a {
    font-family: 'OpenSans', sans-serif;
    font-weight: 100;
  }

  .listLink {
    display: inline-flex;
    margin-left: auto;
    list-style: none;

    .listLinkItem {
      margin: 1em;
    }
  }
  .icon {
    width: 140px;
    height: 100%;
    display: inline-flex;

    margin: 1em;
  }
}

a {
  text-decoration: none;
  color: $apsis-gray;
  font-size: 18px;
}

.blue {
  a {
    color: $apsis-blue;
  }
}

.white {
  a {
    color: $base-bg-color;
  }
}