@import "../variables";
@import "../mixins";
@import "../extensions";

.card {
  @extend %centered-row;
  @extend %card;

  justify-content: flex-start;
  transition: border-color $transition_duration ease-in-out;

  &:hover {
    box-shadow: $box_shadow_hover;
    border-color: $apsis-blue;
    color: inherit;

    .card__icon {
      .red {
        color: $ruby-red;
      }
      .js {
        color: $js-yellow;
      }
    }
  }

  &__content {
    font-size: $font-size-sm;
    *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 1em;
    margin: 0 0 0.25em;
    font-weight: bold;
    font-family: $font-family-sans;
  }

  &__icon {
    font-size: 40px;
    margin-right: $padding-sm;
    transition: color $transition_duration ease-in-out;
  }
}
