@import "../variables";
@import "../mixins";

.card {
  background: $gray-lightest;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: $box_shadow;
  height: 100%;
  width: 100%;
  border-radius: $border-radius-sm;
  padding: $padding-sm;
  border: 1px solid transparent;

  &:hover {
    box-shadow: $box_shadow_hover;
    border-color: $apsis-blue;
    color: inherit;

    .card__icon {
      .red {
        color: $ruby-red;
      }
      .js {
        color: $js-yellow;
      }
    }
  }

  &__content {
    font-size: $font-size-sm;
    *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 0.25em;
    font-weight: bold;
  }

  &__icon {
    font-size: 40px;
    margin-right: $padding-sm;
    transition: color $transition_duration ease-in-out;
  }
}
