@import '../__variables';

.opensource {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  &__header {
    align-items: center;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    padding: 20px 0px;
    width: 1000px;
    font-size: 0.875rem;
  }
}