@import '../__variables';

.service {
  display: flex;
  flex-direction: row;
  
  .serviceCard {
    width: 250px;
    padding: 20px 0px 10px;
    font-size: 18px;

    &__header {
      display: flex;
      flex-direction: row;
      font-size: 18px;
      font-weight: bold;
    }
  }

  @media only screen and (max-width: $tablet-size) {
    flex-direction: column;
    align-items: center;
  }

  i {
    color: $gray-lighter;
    padding-right: 10px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
  }

  li {
    margin: 0px;
  }
}




