@import '../__variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.photo {
  padding-bottom: 40px;
  width: 175px;
  height: 175px;
  margin: 25px;
  flex: 1 0 15%;

  .name {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4a5359;
  }

  .title {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    color: #7994a6;
  }
}

.grid {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;

  i {
    margin: 45px;
  }
}