@import "../variables";

.serviceButton {
  padding-top: 30px;
}

@media only screen and (max-width: $mobile-size) {
  .serviceButton {
    margin: 0 auto;
  }
  .heroButton {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 10em;
  }
}
