@import '../__variables';

.serviceButton {
  padding-top: 30px;
}

@media only screen and (max-width: $mobile-size) {
  .heroButton {
    display: flex;
    flex-direction: column;
    width: 10em;
  }
}