.content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.container {
  height: 430px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 200px;

  &__image{
    width: 100%;
    max-width: 600px;
    height: 100%
  }
}


  .expanded {
    width: 100%;
  }

  .hidden {
    display: none;
  }