@mixin blockify($m) {
  display: block;
  margin-bottom: $m;
}

@mixin container() {
  width: 100%;
  max-width: $container-width;
  padding: 0 $padding-sm;
  margin: 0 auto;

  @media only screen and (min-width: $tablet-size) {
    padding: 0 $padding-base;
  }
}

@mixin container-narrow() {
  @include container();
  max-width: $container-width-narrow;
}

@mixin button-variant($color, $text) {
  color: $text;
  background-color: $color;

  &:hover,
  &:focus {
    background-color: darken($color, 7%);
    border-color: darken($color, 10%);
    color: darken($text, 10%);
  }

  &:active,
  &:focus {
    outline: 0;
  }

  &:active {
    box-shadow: inset 0 1px 10px transparentize(black, 0.75);
  }
}

@mixin delay-each($n, $delay: 150ms) {
  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      transition-delay: $delay + ($i * 50ms);
    }
  }
}

@mixin triangle($direction, $sizeH, $sizeV, $color) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  -moz-transform: scale(0.9999);

  @if $direction == top {
    border-width: 0 $sizeV $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottom {
    border-width: $sizeV $sizeH 0 $sizeV;
    border-color: $color transparent transparent transparent;
  }
  @if $direction == left {
    border-width: $sizeV $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == right {
    border-width: $sizeV 0 $sizeV $sizeH;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topright {
    border-width: 0 $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == bottomright {
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottomleft {
    border-width: $sizeH 0 0 $sizeV;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topleft {
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}
