@import url("https://fonts.googleapis.com/css?family=Open+Sans|Lora|Source Code Pro");

//== Colors

$apsis-blue: #2773a7;
$apsis-dark: #2c3e50;
$apsis-gray: #4a5359;
$base-bg-color: #fefefe;
$barely-blue: #ededef;
$ruby-red: #a92020;
$js-yellow: #f7df1e;
$white: white;

$gray-darker: darken($apsis-dark, 15%);
$gray: lighten($apsis-gray, 30%);
$gray-lighter: lighten($apsis-gray, 45%);
$gray-lightest: lighten($apsis-gray, 65%);

$text-color: $apsis-dark;
$button-color: $barely-blue;
$border-color: $barely-blue;

$shadow: rgba(#0f2c40, 0.15);
$shadow_rim: rgba(0, 0, 0, 0.01);
$box_shadow: 0 1px 1px 0 $shadow, 0 1px 4px 0 $shadow_rim;
$box_shadow_hover: 0 1px 2px 1px $shadow, 0 1px 5px 2px $shadow_rim;
$text_shadow: 0 2px 4px $shadow;

//== Links

$link-color: $apsis-blue;
$link-hover-color: darken($apsis-blue, 10%);
$link-visited-color: darken($apsis-blue, 10%);
$link-active-color: darken($apsis-blue, 15%);

//== Typography

$modular-scale-base: 1rem;
$mobile-modular-scale-base: $modular-scale-base * 0.75;

$font-size-base: 16px;
$font-size-sm: $font-size-base * 0.85;
$font-size-tablet: 18px;
$font-size-desktop: 20px;

$font-family-serif: "Lora", serif;
$font-family-sans: "Open Sans", sans-serif;
$font-family-fixed: "Source Code Pro", monospace;

$line-height-base: 1.75;
$grid-unit-base: floor(($font-size-base * $line-height-base));

//== Transitions

$transition_duration: 0.15s;

//== Units

$padding-base: 40px;
$padding-sm: $padding-base / 2;
$padding-lg: $padding-base * 2;
$padding-xs: $padding-sm / 2;
$border-radius: 4px;
$border-radius-sm: $border-radius / 2;

$zindex_navbar: 999;

//== Sizes

$container-width: 960px;
$max-app-width: 1600px;

//== Media Queries

$mobile-size: 375px;
$tablet-size: 768px;
$desktop-size: 960px;
$largedesktop-size: 1050px;

//== Shapes

$small-diagonal-offset: 40px;
$large-diagonal-offset: 80px;

$hero-clip-path: (
  mobile:
    polygon(0 0, 100% 0, 100% calc(100% - #{$small-diagonal-offset}), 0 100%),
  tablet:
    polygon(0 0, 100% 0, 100% calc(100% - #{$small-diagonal-offset}), 0 100%),
  desktop:
    polygon(0 0, 100% 0, 100% calc(100% - #{$large-diagonal-offset}), 0 100%),
  largedesktop:
    polygon(0 0, 100% 0, 100% calc(100% - #{$large-diagonal-offset}), 0 100%)
);

$diagonal-clip-path: (
  mobile:
    polygon(
      0 $small-diagonal-offset,
      100% 0%,
      100% calc(100% - #{$small-diagonal-offset}),
      0 100%
    ),
  tablet:
    polygon(
      0 $small-diagonal-offset,
      100% 0%,
      100% calc(100% - #{$small-diagonal-offset}),
      0 100%
    ),
  desktop:
    polygon(
      0 $large-diagonal-offset,
      100% 0%,
      100% calc(100% - #{$large-diagonal-offset}),
      0 100%
    ),
  largedesktop:
    polygon(
      0 $large-diagonal-offset,
      100% 0%,
      100% calc(100% - #{$large-diagonal-offset}),
      0 100%
    )
);
