.post {
  width: 800px;
  padding-top: 180px;

  &__title {
    padding-bottom: 40px;
    text-align: center;
  }

  &__headerImage {
    width: 800px;
    height: 600px;
    margin-bottom: 40px;
  }
}