.hero {
    background-color: #efefef;
    width: 100%;
    height: 500px;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 70%,
      0 calc(100% - 5vw)
    );
}

h1 {
  width: 851px;
  height: 65px;
  font-family: OpenSans;
  font-size: 48px;
  color: #393f50;
  padding: 200px 0px 40px 120px;
}

h3 {
  padding: 0px 120px;
  font-family: OpenSans;
  font-size: 22px;
  color: #393f50;
}