.service {
  background: rgb(209, 209, 209)080;
  width: 250px;
  padding: 0px 0px 10px;
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
}

i {
  color: rgb(182, 182, 182);
  padding: 5px;
}

ul {
  list-style: none;
  margin: 5px;
}

li {
  margin: 0px;
}
